RESEND_API_KEY=
INNOVA_CONTACT_TO_EMAIL=a.rios@innovaindustriesperu.com
RESEND_FROM_EMAIL=INNOVA Industries America <contacto@mail.innovaindustriesperu.com>
NEXT_PUBLIC_SITE_URL=https://www.innovaindustriesperu.com
